<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white flex flex-col justify-center items-center">
        <h1 class="text-4xl tracking-tighter   mb-3">Login User - </h1>
        <form class="flex flex-col flex-wrap" action="/login" method="post">
            <input class="w-60 mt-2   px-5 py-2 border-2 border-zinc-800 rounded-lg bg-transparent" type="text" name="email" placeholder="email">
            <input class="w-60 mt-2   px-5 py-2 border-2 border-zinc-800 rounded-lg bg-transparent" type="text" name="password" placeholder="password">
            <input class="w-60 mt-4  px-2 py-2 bg-yellow-500 rounded-lg" type="submit" value="Login">
        </form>
    </div>
</body>
</html>